
.add-task-button {
    background-color: #fff !important;
    border: 1px solid #0f7bed !important;
    color: #0f7bed !important;
    outline: none;
  }
  
  .add-task-button:hover {
    background-color: #0f7bed !important;
    color: white !important;
    border-color: #3465eb !important;
  }
  
  .add-task-button:focus {
    outline: 2px solid #ebae34;
    border-color: #3465eb !important;
  }
 
  