.textfield-blue .MuiInputLabel-root {
  color: #095df9;
}

.textfield-blue .MuiInputLabel-root.Mui-focused {
  color: #095df9;
}

.textfield-blue .MuiOutlinedInput-root fieldset {
  border-color: #d4d4d4;
}

.textfield-blue .MuiOutlinedInput-root:hover fieldset {
  border-color: #095df9;
}

.textfield-blue .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #095df9;;
}



.dark .textfield-blue .MuiInputLabel-root {
  color: #fff;
}

.dark .textfield-blue .MuiInputLabel-root.Mui-focused {
  color: #fff;
}

.dark .textfield-blue .MuiOutlinedInput-root fieldset {
  border-color: #fff;
  color: #fff;

}

.dark .textfield-blue .MuiOutlinedInput-root:hover fieldset {
  border-color: #fff;
  color: #fff;

}

.dark .textfield-blue .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #fff;

}




